<% provide(:title, 'About')  %>

<div class="about-body">
	<p> Michael Klambatsen</p>
	<br>
	<p><img src="assets/mike.png" id="portrait">Lorem ipsum dolor sit amet, consect adipisicing elit. Temporibus, rem, quibusdam facilis repellendus illum atque dicta numquam officiis unde sequi cumque mollitia saepe doloree omnis molestias aspernatur fugit totam aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, magnam, odit. Non, amet, nobis blanditiis debitis quo sapiente voluptatem doloribus sunt doloremque sit tempora accusamus animi pariatur quidem consequuntur voluptatum.</p>
	<br>
	<p>Lorem ipsum dolor sit amet, adipisicing elit. Illum, impedit, libero architecto eum error alias saepe tempora sunt animi ullam nam ad consectetur necessitatibus accusantium magni. Ad, sunt eius quam?</p>
</div>
