<% provide(:title, 'About')  %>

<div class="about-body">
	<p> Michael Klambatsen</p>
	<br>
	<p><img src="assets/mike.png" id="portrait">Lorem ipsum dolor sit amet, consect adipisicing elit. Temporibus, rem, quibusdam facilis repellendus illum atque dicta numquam officiis unde sequi cumque mollitia saepe doloree omnis molestias aspernatur fugit totam aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, magnam, odit. Non, amet, nobis blanditiis debitis quo sapiente voluptatem doloribus sunt doloremque sit tempora accusamus animi pariatur quidem consequuntur voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, voluptatibus, ullam, vero, enim repellendus suscipit culpa quam aliquid modi molestias in numquam reprehenderit ipsum libero est. Dolore sequi quam modi.</p>
	<br>
	
</div>