<% provide(:title, 'About')  %>

<div class="about-container">

	<p> Klamson</p>
	<img src="assets/mike.png" class="portrait">
	<br>
	<p>Crudely drawn? Yes. Devoid of humour? Usually. March of the Meanies appears weekly in the Baruch College newspaper, The Ticker, and represents my one extracurricular activity. Since we're all submitting completely to our new Facebook overlords anyway, a group seems to be in order. Any donations must be in the form of a money order wrapped around a brick and hurled through my window. The procedure is likewise for hatemail.</p>
	<br>
	<p>Lorem ipsum dolor sit amet, adipisicing elit. Illum, impedit, libero architecto eum error alias saepe tempora sunt animi ullam nam ad consectetur necessitatibus accusantium magni. Ad, sunt eius quam?</p>
</div>
