 

<!DOCTYPE html>
<html>
<head>
	<title>March Of the Meanies</title>
	<style type="text/css">


}

#head {
	display: block;
	max-width: 900px;
	/*border: 1px solid black;*/
	margin: 0 auto;
}

#head h1 {
	color: white;
}
h1 {
		text-align: center;
    line-height: 190px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    position: relative;
    top: 50%;
    width: 100%;
    font-size: 6em;
    font-family: Helvetica,Arial,sans-serif; 
    font-style: normal;
    letter-spacing:-7px;
    font-weight: 150px;
    line-height: 85%;
}

.image {
	margin: 0 auto;
	background: white;
	padding: 8px 0 8px 0;

}

img {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}</style>
</head>
<body>
	<div id="head">
		<h1>Coming Soon</h1>
		<div class="image">
			<img src="assets/mike.png">
		</div>
	</div>

</body>
</html>
