<% provide(:title, 'Home')  %>

<div class="comic">
	<%= image_tag Comic.last.image_url %>
</div>

<div class="comicnav">
	<ul>
		<li><%= button_to 'First',    page_url(Comic.first.number),  method: 'get', class: 'button' %></li>
		<li><%= button_to 'Previous', page_url(Comic.last.number-1), method: 'get', class: 'button' %></li>
		<li><%= button_to 'Random',   page_url(Comic.last.number-1), method: 'get', class: 'button' %></li>
	</ul>
</div>