<% provide(:title, 'Home')  %>

<div class="comic">
	<%= image_tag Comic.last.image_url %>
</div>

<div class="comicnav">
	<ul>
		<li><%= link_to 'First', '#' %></li>
		<li><%= link_to 'Previous', page_url(Comic.last.number-1) %></li>
		<li><a href="#">Random</a></li>
	</ul>
</div>