/* Colors

Black - 000D11
Grey - 3B3D42
Blue - 5B8D96
White - E5EBE6
Red - C45A3F

*/

@font-face {
	font-family: 'Entypo';
	src: url('fonts/entypo.eot');
	src: local('Entypo Regular'), local('Entypo'), url('fonts/entypo.ttf') format('truetype');
}

body	{
	font-family: 'Oxygen', sans-serif;
	background-color: #3B3D42;
}

a {
	text-decoration: none;
}

header {
	background-color: #000D11;
	text-align: center;
	color: #E5EBE6;
}

nav {
	background-color: #000D11;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: center;
}

nav li {
	display: inline;
}

nav a {
	display: inline-block;
	color: #5B8D96;
	padding: 10px;
	border: 1px solid black;
}

section {
	display: block;
	max-width: 75%;
	margin: 0 auto; 
	margin-top: 30px;
}

.comic{
	margin: 0 auto; 
	margin-top: 30px;
}

.comic img {
	display: block;
	margin: 0 auto; 
	max-width: 50%;
	max-height: 50%;
}

.comicnav {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: center;
}

.comicnav li {
	display: inline;
}

.comicnav a {
	font-family: Entypo;
	font-weight: 20px;
	font-size: 45px;
  letter-spacing: 0px;
	display: inline-block;
	color: #C45A3F;
	padding: 0px;
}

.social {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: center;
}

.social li {
	display: inline;
}

.social a {
	font-family: Entypo;
	font-weight: 20px;
	font-size: 45px;
	display: inline-block;
	color: #C45A3F;
	padding: 10px;
}

footer {
	margin-top: 2%;
	border: 1px solid black;
	padding: 0 10px 0 10px;
	text-align: right;
}