<% provide(:title, 'Archive') %>

<!--*********************************************************************** -->
<!-- ARCHIVE GALLERY ****************************************************** -->
<!--*********************************************************************** -->

  <ul class="archive-list">
    <% @comics.each do |comic| %>
      <li><%= comic.number %>  <%= link_to comic.title, page_url(comic.number.to_s), title: "#{comic.created_at.strftime('%m/%d/%Y')} - #{comic.title}"  %></p>
    <% end %>
  </ul>




