@import "variables";

/************************************************************************/
/* 0-1   CSS RESET                                                      */
/************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border:    0;
  margin:    0;
  font:      inherit;
  font-size: 100%;
  padding:   0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display:     block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style:  none;
}
blockquote, q {
  quotes:      none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  border:  none;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}





/************************************************************************/
/* 0-2   TYPOGRAPHY AND GENERAL STYLING                                 */
/************************************************************************/

@charset "UTF-8";

html {
  background: $background-color;
}

body {
  color: $body-text-color;
  font: 300 #{$base-font-size}/#{$baseline} $body-text-font;
}

p {
  color:       $body-text-color;
  font-family: $body-text-font;
  font-size:   $base-font-size;  
  line-height: $baseline;
}

a {
  text-decoration: none;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ h1 ~ Desktop ~*/
h1 { 
  color: $banner-text-color;
  font: #{$h1-size}/#{$h1-leading} $banner-text-font;
  margin-left:  $base-font-size * 2;
  margin-top:   $baseline;
  a {
    color: $banner-text-color;  
    text-decoration: none;
  } 
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ h1 ~ Tablet ~*/
// @media only screen and (min-width: $tablet-min) and (max-width: $tablet-max ) {
//     h1 {
//     font: #{$h1-size/1.5}/#{$h1-leading/1.5} $banner-text-font;
//     margin: 0.5em 0 0.5em 0.5em;
//   }
// }
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ h1 ~ Phone ~*/
@media screen and (max-width: $phone) {
    h1 {
    color: black;
    font-size: $baseline;
    line-height: $baseline*1.5;
    font-family: $title-text-font;
    margin: 0;
  }
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ h2 ~ Desktop ~*/
h2 {
	font: #{$h2-size}/#{$h2-leading} $title-text-font;
  font-weight: bolder;
}

h3 {  
  color: $thumb-title-color;
  font: #{$h3-size}/#{$h3-leading} $title-text-font;
  margin-left:    3px;
  text-align:     left;
  text-transform: uppercase;
}

h4 {
  color: $thumb-date-color;
  font: #{$h4-size}/#{$h4-leading} $title-text-font;
  font-weight: 1600;
  text-align:  left;
}





/************************************************************************/
/* 0-3   LAYOUT                                                         */
/************************************************************************/
body, .container, .content, .comic, .comicnav, .nav {
  margin:  0 auto;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ .Container ~ Desktop ~*/
.container {
	background: $container-color;
  padding: 0 8% 0 8%;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ .Container ~ Phone  ~*/
@media screen and (max-width: $phone ) {
  .container {
    height: 780px;
    padding: 0 .5% 0 .5%;
    position: relative;
    overflow: hidden;
  }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ .Content ~ Desktop ~*/
.content {
  overflow: hidden;
  background-color: $content-box-color;
  min-height: 720px;
  margin: 0 $baseline 0 5em;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ .Content ~ Phone  ~*/
@media screen and (max-width: $phone) {
  .content {
    overflow: hidden;
    margin: 4em 0.2em 0em 0.2em;
    width: 100%;
  }
}





.hidden {
  visibility: hidden;
}





/************************************************************************/
/* 0-4   MAIN NAVIGATION                                                */
/************************************************************************/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Nav ~ Desktop ~*/
.nav-slide {
  overflow: hidden;
  display: none;
}

nav {
  overflow: hidden;
  margin-top: $h2-size*2;
  float: left;
  width: 5em;
  a {
    display:  block;
    padding:  0 0 1em 0;
    color:           $nav-btn-txt-color;
    font:            $nav-font;
    letter-spacing:  1px;
    text-decoration: none;
    width: 100%;
    @include transition(color);
    &:hover {
      color: $nav-btn-hov-color;
    } 
  } 
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Nav ~ Phone ~*/
@media screen and (max-width: $phone) {
  .desktop-nav { 
    overflow: hidden;
    display: none;
  }

  .nav-slide {
    overflow: hidden;
    display:  block;
    padding:  1em auto;
    position: fixed;
    top:     -22em;
    left:   -.03em;
    width:    100%;
    z-index: 50;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;

    
      width: 100%;
      margin: 0;
      padding: 1em 0 0 0;
      background-color: hsl(0,0%,90%);
      box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
                  inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
                  inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
                  inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
                
                  hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
                  hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 
                  border-bottom-left-radius:  1em;
                  border-bottom-right-radius: 1em;
      a {
        color:           black;
        display:         block;
        font-size:       $baseline*2;
        line-height:     $baseline*2.5;
        margin:          0 auto;
        padding:         .5em;
        text-align:      center;
        text-decoration: none;
        width:           75%;
        &:nth-child(3) {
          border-bottom: 1px solid black;
        }
        &:nth-child(4) {
          width: 98%;
          &:hover {
            background:  transparent;
          }
        }
        &:nth-child(5) {
          position: relative;
          left: .10em;
          bottom: 28px;
          font-size: $baseline*2;
          line-height: 12px;
          padding: 0;
          letter-spacing: .25em;
          text-decoration: none;
          width: 100%;
          &:hover {
            background:  transparent;
          }
        }
        &:hover {
          background: grey;
        }
      }
    }
  }


.show-nav {
  top: -.8em;
}


/*------- Change color of the nav link of the current page -------*/

body {
  &.home_controller nav a#home-link {
    color: $title-text-color;
  }

  &.archive_controller nav a#archive-link {
    color: $title-text-color;
  }

  &.about_controller nav a#about-link {
    color: $title-text-color;
  }

  &.index_controller nav a#index-link {
    color: $title-text-color;
  }
}




/************************************************************************/
/* 0-5   FLASH NOTICES                                                  */
/************************************************************************/

.alert {
  &.alert-error {
    color: red;
  }
  &.alert-success {
    color: green;
  }
  &.alert-notice {
    color: lightblue;
  }
}





/************************************************************************/
/* 0-6   BUTTONS                                                        */
/************************************************************************/

.button {
  background: -webkit-linear-gradient(top, $nav-btn-txt-color, darken($nav-btn-txt-color, 25%));
  background:    -moz-linear-gradient(top, $nav-btn-txt-color, darken($nav-btn-txt-color, 25%));
  background:     -ms-linear-gradient(top, $nav-btn-txt-color, darken($nav-btn-txt-color, 25%));
  background:      -o-linear-gradient(top, $nav-btn-txt-color, darken($nav-btn-txt-color, 25%));
  border:        1px solid $title-text-color;
  border-radius: 5px;
  color:         #fff;
  cursor:        pointer;
  font-family:   'Bree Serif', serif;
  font-size:     $h3-size*1.25;
  font-weight:   300;
  padding:       11px 25px;
  text-shadow:   0px 1px 0 rgba(2,2,2,0.25);
  -webkit-box-shadow:  0 1px 3px rgba(0,0,0,0.5);
     -moz-box-shadow:  0 1px 3px rgba(0,0,0,0.5);
          box-shadow:  0 1px 3px rgba(0,0,0,0.5);

  &:hover, &:focus  {
    background: darken($nav-btn-txt-color, 25%);
    border:     1px solid $title-text-color;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
       -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
            box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  }
}


