@import "variables";

/************************************************************************/
/* 0-1   CSS RESET                                                      */
/************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border:    0;
  margin:    0;
  font:      inherit;
  font-size: 100%;
  padding:   0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display:     block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style:  none;
}
blockquote, q {
  quotes:      none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  border:  none;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}





/************************************************************************/
/* 0-2   TYPOGRAPHY AND GENERAL STYLING                                 */
/************************************************************************/

@charset "UTF-8";

html {
  background: $background-color;
}

body {
  color: $body-text-color;
  font: 300 #{$base-font-size}/#{$baseline} $body-text-font;
}

p {
  color:       $body-text-color;
  font-family: $body-text-font;
  font-size:   $base-font-size;  
  line-height: $baseline;
}

a {
  text-decoration: none;
}

h1 { 
  color: $banner-text-color;
  font: #{$h1-size}/#{$h1-leading} $banner-text-font;
  margin-left:  $base-font-size * 2;
  margin-top:   $baseline;
  a {
    color: $banner-text-color;  
    text-decoration: none;
  } 
}

h2 {
	font: #{$h3-size}/#{$h3-leading} $title-text-font;
  font-weight: bolder;
}

h3 {  
  color: $thumb-title-color;
  font: #{$h3-size}/#{$h3-leading} $title-text-font;
  margin-left:    3px;
  text-align:     left;
  text-transform: uppercase;
}

h4 {
  color: $thumb-date-color;
  font: #{$h4-size}/#{$h4-leading} $title-text-font;
  font-weight: 1600;
  text-align:  left;
}





/************************************************************************/
/* 0-3   LAYOUT                                                         */
/************************************************************************/

.container {
	background: $container-color;
	max-width:  940px;
}

.container, .content, .comic, .comicnav, .nav {
  margin:     0 auto;
}

.content {
  background-color: $content-box-color;
  height:     600px;
  margin:     $baseline;
  max-width:  900px;
}

.hidden {
  visibility: hidden;
}

.disable {
  display:    none;
}





/************************************************************************/
/* 0-4   MAIN NAVIGATION                                                */
/************************************************************************/

nav {
  background: transparent;
  ul li {
    display:  inline-block;
    padding:  0 6px 0 12px;
    a {
      color:           $nav-btn-txt-color;
      font:            $nav-font;
      letter-spacing:  .5px;
      text-decoration: none;
      @include transition(color);
      &:hover {
        color: $nav-btn-hov-color;
      } 
    } 
  } 
} 


/*------- Change color of the nav link of the current page -------*/

body {
  &.home_controller nav a#home-link {
    color: $title-text-color;
  }

  &.archive_controller nav a#archive-link {
    color: $title-text-color;
  }

  &.about_controller nav a#about-link {
    color: $title-text-color;
  }

  &.index_controller nav a#index-link {
    color: $title-text-color;
  }
}




/************************************************************************/
/* 0-5   FLASH NOTICES                                                  */
/************************************************************************/

.alert {
  &.alert-error {
    color: red;
  }
  &.alert-success {
    color: green;
  }
  &.alert-notice {
    color: lightblue;
  }
}





/************************************************************************/
/* 0-6   BUTTONS                                                        */
/************************************************************************/

.button {
  background: -webkit-linear-gradient(top, $nav-btn-txt-color, darken($nav-btn-txt-color, 25%));
  background:    -moz-linear-gradient(top, $nav-btn-txt-color, darken($nav-btn-txt-color, 25%));
  background:     -ms-linear-gradient(top, $nav-btn-txt-color, darken($nav-btn-txt-color, 25%));
  background:      -o-linear-gradient(top, $nav-btn-txt-color, darken($nav-btn-txt-color, 25%));
  border:        1px solid $title-text-color;
  border-radius: 5px;
  color:         #fff;
  cursor:        pointer;
  font-family:   'Bree Serif', serif;
  font-size:     $h3-size*1.25;
  font-weight:   300;
  padding:       11px 25px;
  text-shadow:   0px 1px 0 rgba(2,2,2,0.25);
  -webkit-box-shadow:  0 1px 3px rgba(0,0,0,0.5);
     -moz-box-shadow:  0 1px 3px rgba(0,0,0,0.5);
          box-shadow:  0 1px 3px rgba(0,0,0,0.5);

  &:hover, &:focus  {
    background: darken($nav-btn-txt-color, 25%);
    border:     1px solid $title-text-color;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
       -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
            box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  }
}