@import "variables";

/************************************************************************/
/* 1-1   COMIC TITLE                                                    */
/************************************************************************/

.title {
  color:          $title-text-color;
  font-family:    $title-text-font;
  letter-spacing: 1.5px;
  text-align:     center;
  text-transform: uppercase;
  width:          100%;
}





/************************************************************************/
/* 1-2   THE COMIC                                                      */
/************************************************************************/

.comic {
	height: 480px;
  width:  480px;

	img {
    border-radius: 1em;
		width:   29em;
    height: 28.4em;
	}
}





/************************************************************************/
/* 1-3   COMIC NAVIGATION                                               */
/************************************************************************/


/*------------------- 1-3-1   Comiv Nav Container                       */
.comicnav, .mobile-comicnav {
  max-width:  480px;
  text-align: center;
	ul li {
	  display:  inline-block;
	}
}

.comicnav {
  // background: brown;
  // margin-top: em;
  padding-top: .5em;
  padding-bottom: 1em;
}

/*------------------- 1-3-2   Comic Nav Icons - General Styles          */
.icon {
  // background:      transparent;
  // background: white;
  color:           $com-nav-icon-color;
  font-size:      32px;
  text-decoration: none;
  @include transition(color);
  &:hover {
    color:         $com-nav-hov-color;
  }
}


.livicon { 
height: 44px !important;
  }

/*------------------- 1-3-3   Comic Nav Icons - Feed Icon               */
.icon-rss:hover {
	color: $nav-btn-txt-color; 
}


/*------------------- 1-3-4   Comic Nav Icons - Prev/Next Icon          */
.arrow {
  background:      transparent;
	color:           $nav-btn-txt-color;
  font-size:       $com-nav-icon-size * 1.85;
  text-decoration: none;
  @include transition(color);
	&:hover {
		color:   $nav-btn-hov-color;
	} 
}


/*------------------- 1-3-5   Comic Nav Icons - Share Icon              */
.social {
  position:     relative;
  left:         -.1em;
    a {
    background: transparent;
    display:    inline;
    left:       3px;
    position:   absolute;
    opacity:    0;
    top:        0;
    -webkit-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 0.5s linear;
       -moz-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 0.5s linear;
         -o-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 0.5s linear;
            transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 0.5s linear;
  }
  &:hover .smedia {
    opacity: 1;
    margin-top: 2px;

    -webkit-transform: translate(0px,0);
       -moz-transform: translate(0px,0);
         -o-transform: translate(0px,0); 
            transform: translate(0px,0);
    &.icon-facebook-circled { left: 0.83em;  }
    &.icon-twitter-circled  { left: 1.97em;  }
    &.icon-gplus-circled    { left: 3.11em; }
    // &.icon-tumblr-circled   { left: 4.55em; }
    &.icon-mail             { left: 4.25em; }
  }
}


/*------------------- 1-3-6   Comic Over - For swipe navigation         */
#swipey {
  background: transparent;
  height:     100%;
  margin:     0 auto;
  position:   absolute;
  top:        90px;
  width:      100%;

}




/************************************************************************/
/* 1-4   SOCIAL SLIDE (Only visible on mobile)                          */
/************************************************************************/


/*------------------- 1-4-1   Social Slide Container                    */
.social-slide-container {
  bottom:     4%;
  display:    block;
  height:     2em;
  margin-top: 5%;
  position:   absolute;

}


/*------------------- 1-4-2   Social Slide                              */
.social-slide {
  border-top-left-radius:  1em;
  border-top-right-radius: 1em;
  bottom:         0;
  padding-bottom: 2em;
  position:       relative;
  &:before {
    z-index: 1;
  }
  a {
    display: inline-block;
    margin:  0 0 10px 0;
    &.icon {
      font-size:   $com-nav-icon-size*1.5;
    }
    &:first-child {
      position:        relative;
      left:            .10em;
      font-size:       $baseline*2;
      letter-spacing:  .25em;
      text-decoration: none;
      text-align:      center;
      width:           100%;
    }
    &:nth-child(2) {
      display: block;
      width: 100%;
      height: $baseline/2;
    }
  }/*- .social-slide a -*/
}/*- .social-slide -*/


/*------------------- 1-4-3   ToggleClass with JS to reveal slide       */
.show-social {
  bottom: 9em !important;
}


/*------------------- 1-4-4   Hide the slide on all other pages         */
body {
  &.archive_controller {
    .social-slide {
      display: none;
    }
  }

  &.about_controller {
    .social-slide {
      display: none;
    }
  }

  &.index_controller {
    .social-slide {
      display: none;
    }
  } 
}



