@import "variables";

/************************************************************************/
/* 1-1   COMIC TITLE                                                    */
/************************************************************************/

.title {
  color:          $title-text-color;
  font-family:    $title-text-font;
  letter-spacing: 1.5px;
  text-align:     center;
  text-transform: uppercase;
  width:          100%;
}





/************************************************************************/
/* 1-2   THE COMIC                                                      */
/************************************************************************/

.comic {
	max-height: 480px;
  max-width:  480px;
	img {
		width: 100%;
	}
}





/************************************************************************/
/* 1-3   COMIC NAVIGATION                                               */
/************************************************************************/


/*------------------- 1-3-1   Comiv Nav Container                       */
.comicnav, .mobile-comicnav{
  max-width:  480px;
  text-align: center;
	ul li {
	  display:  inline-block;
	}
}

/*------------------- 1-3-2   Comic Nav Icons - General Styles          */
.icon {
  background:  transparent;
  color:       $com-nav-icon-color;
  font-size:   $com-nav-icon-size;
  text-decoration: none;
  @include transition(color);
  &:hover {
    color: $com-nav-hov-color;
  }
}

/*------------------- 1-3-3   Comic Nav Icons - Feed Icon               */
#feed-icon:hover {
	color: $nav-btn-txt-color; 
}


/*------------------- 1-3-4   Comic Nav Icons - Prev/Next Icon          */
.arrow {
	color: $nav-btn-txt-color;
	font-size:   $com-nav-icon-size ;
	&:hover {
		color: $nav-btn-hov-color;
	} 
}


/*------------------- 1-3-5   Comic Nav Icons - Share Icon              */
.social {
	position: relative;
		a {
    background: transparent;
    display:    inline;
    left:       3px;
    position:   absolute;
    opacity:    0;
    top:        0;
    -webkit-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 0.5s linear;
       -moz-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 0.5s linear;
         -o-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 0.5s linear;
            transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 0.5s linear;
	}
  &:hover .smedia {
    opacity: 1;
    -webkit-transform: translate(0px,0);
       -moz-transform: translate(0px,0);
         -o-transform: translate(0px,0); 
            transform: translate(0px,0);
    &.icon-facebook-circled { left: 50px;  }
    &.icon-twitter-circled  { left: 95px;  }
    &.icon-gplus-circled    { left: 140px; }
    &.icon-tumblr-circled   { left: 185px; }
    &.icon-mail             { left: 230px; }
  }
}





/************************************************************************/
/* 1-4   SOCIAL SLIDE (Only visible on phones)                          */
/************************************************************************/
  .social-slide {
    background:    silver;
    border-radius: 10px;
    bottom:       -23em;
    position:      absolute;
    -webkit-transition-duration: 0.75s;
       -moz-transition-duration: 0.75s;
         -o-transition-duration: 0.75s;
            transition-duration: 0.75s;
    z-index: 2;
    .slide-handle {
      background:    silver;
      border-radius: 4px;
      height:        3em;
      margin:        0 auto;
      position:      relative;
      top:          -35px;
      width:         8em;
      .slide-handle-inner {
        background:    silver;
        border:        1px solid black;
        border-radius: 4px;
        height:        2em;
        margin:        0 auto;
        position:      relative;
        top:           8px;
        width:         7em;
      }
    }
    .slide-body {
      height: 20em;
    }
    &:hover {
      bottom: -8em;
    }
  }

@media only screen and (min-width: 631px)  {
  .social-slide {
    display: none;
  }
}
