@import 'variables';

/************************************************************************/
/* 2-1   ARCHIVE CONTAINER                                                           */
/************************************************************************/

.archive-container  {
  position: relative;
  top: 7em;
  a {
  	color: $archive-item-color;
  	&:hover {
	  color:	$archive-item-hover;
  	}
  	&:visited {
	  color:	$archive-item-visited;
  	}
  }
}

.archive-list ul li{
  display: inline-block;
  padding: .25em;
}

.comic-number {
  width: 2em;
  text-align: center;
}


