@import 'variables';

/************************************************************************/
/* 3-1   PORTRAIT                                                       */
/************************************************************************/

#portrait {
  float:        left;
  margin-right: 24px; 
  max-width:    150px;
}





/************************************************************************/
/* 3-2   BODY                                                           */
/************************************************************************/

.about-body {
  margin:    0 auto;
  max-width: 95%;
  p {
    color:          #FFFFFF;  /******White******/
    font-family:    $body-text-font;
    font-size:      16px;  
    font-weight:    500;
    letter-spacing: 2px;
    line-height:    24px;
  }
}
