@import 'variables';

/************************************************************************/
/* 3-1   ABOUT CONTAINER                                                           */
/************************************************************************/

.about-container {
  max-width: 95%;
  position: relative;
  top: 5em;
}





/************************************************************************/
/* 3-2   PORTRAIT                                                       */
/************************************************************************/

.portrait {
  float:        left;
  margin-right: 24px; 
  max-width:    150px;
}




/************************************************************************/
/* 3-3   ABOUT TEXT                                                       */
/************************************************************************/

p {
  color:          #403D3D;  /****Dark Grey****/
  font-family:    $body-text-font;
  font-size:      16px;  
  font-weight:    500;
  letter-spacing: 2px;
  line-height:    24px;
}





