@import 'variables';

/************************************************************************/
/* 1. THUMBNAIL GALLERY  */
/************************************************************************/

#scrollbar1 {   /* Thumbnail gallery and scrollbar */
  max-width: 860px;
  clear: both;
  margin: 20px 0 10px 30px;
  .viewport {
    max-width: 840px;
    height: 576px;
    overflow: hidden; 
    position: relative;
  }
  .overview { 
    list-style: none;
    position: absolute; 
    left: 60px; 
    top: 0; 
  }
  .thumb {
    background-color: #403D3D;
    border-radius: 5px; 
    height: 20px;
    width: 13px;
    cursor: pointer; 
    overflow: hidden; 
    position: absolute; 
    top: 0;
    .end {
      overflow: hidden; 
      height: 5px; 
      width: 13px;
    } 
  }
  .scrollbar {
    position: relative;
    float: right;
    width: 15px; 
    margin-right: 3px; 
  }
  .track { 
    background-color: #000000;
    height: 100%;
    width:13px;
    position: relative;
    padding: 0 1px;
  }
  .disable {
    display: none;
  }
}

.noSelect {     /* Prevents elements from being selected when scrollbar is grabbed and dragged. */
  -webkit-user-select: none;
   -khtml-user-select: none; 
     -moz-user-select: none; 
       -o-user-select: none; 
          user-select: none; 
}





/************************************************************************/
/* 2. THUMBNAILS  */
/************************************************************************/
       
.galleryItem {  /* Each individual comic thumbnail */
  color: #797478;
  font: 9px/1.45 Verdana, Helvetica, sans-serif;
  float: left;
  max-height: 217px;
  max-width: 160px;
  margin: 0px 10px 0 10px;
  a {
    line-height: 0;
    img { 
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      &:hover {    
      -webkit-transform: scale(1.50) rotate(0.1deg);
      -ms-transform: scale(1.50) rotate(0.1deg);
      transform: scale(1.50) rotate(0.1deg);
      -webkit-transition: -webkit-transform ease .75s;
      -ms-transition:         transform ease .75s;
      transition:         transform ease .75s;
      }
    }
  }
  h3 {
    text-transform: uppercase;
    color: #7F797B;  /****Light Grey***/
    
  }
  h4 {
    color: #403D3D;  /****Dark Grey****/
  }
}


 

