@charset "UTF-8";

/*-------------------------------------------------------------------------*/
/*----------------------------------Colors---------------------------------*/
/*-------------------------------------------------------------------------*/


/* #000000;  /******Black******/
/* #FFFFFF;  /******White******/
/* #FFBF2A;  /*****Yellow******/
/* #403D3D;  /****Dark Grey****/
/* #7F797B;  /****Light Grey***/


$background:         #000000;  /******Black******/
  $container:        #000000;  /******Black******/
    $banner-text:    #FFFFFF;  /******White******/
    $content-box:    #000000;  /******Black******/
      $title-text:   #FFFFFF;  /******White******/
      $body-text:    #FFFFFF;  /******White******/

      $com-nav-bg:   #000000;  /******Black******/
      $com-nav-txt:  #403D3D;  /****Dark Grey****/
      $com-nav-hov:  #7F797B;  /****Light Grey***/
    
    $navigation:     #000000;  /******Black******/
      $nav-btn-bg:   #000000;  /******Black******/
      $nav-btn-txt:  #FFBF2A;  /*****Yellow******/
      $nav-btn-hov:  #403D3D;  /****Dark Grey****/


$button-bg:          #FFFFFF;  /******White******/
$button-txt:         #000000;  /******Black******/
$button-hov:            blue;

$error-bg:               red;
$error-txt:          #000000;  /******Black******/
 
/*-------------------------------------------------------------------------*/
/*----------------------------------Global---------------------------------*/
/*-------------------------------------------------------------------------*/
* {
	padding: 0;
	margin:  0;
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing:    border-box; /* Firefox, other Gecko */
	box-sizing:        border-box; /* Opera/IE 8+ */
}

br {
	line-height: 24px;
}

html {
	background: $background;
}

h1 { 
  font-family: '!PaulMaulRegular';
  line-height:   76px;
  font-size:     48px; 
  padding-left:  32px;
  a {
    text-decoration: none;
    color: $banner-text;
  } 
}

h2 {
	font-family: 'Tenor Sans', sans-serif;
  line-height: 24px;
  font-size: 16px;

}

p {
	line-height: 24px;
	font-size:   16px;	
	color:       $body-text;
	font-family: 'NewCicleFina';
}

.button {
	padding: 5px;
	margin: 0 auto;
	width: 5em;
	text-align: center;
	background-color: $button-bg;
	border-radius: 5px;
	color: $button-txt;
	a{
		text-decoration: none;
		color: $button-txt;
		text-align: center;
    &:hover {
      background-color: $button-hov;
    }
	}
	&.admin{
		margin-left: 8px;
	}
}

.button-first {
    padding-left: 16px;
    height: 45px;
    width: 45px;
}


/*-------------------------------------------------------------------------*/
/*---------------------------------Layout----------------------------------*/
/*-------------------------------------------------------------------------*/
.container {
	background: $container;
	margin: 0 auto;
	// margin-top: 24px;
	margin-bottom: 16px;
	max-width: 940px;
}

.content {
	border-radius: .5em;
	margin: 0 auto;
	margin-top: 16px;
	margin-bottom: 16px;
	max-width: 900px;
  background-color: $content-box;
  height: 576px;

}
  
nav {
  padding-top: 8px;
  padding-left: 32px;
  background: $navigation;
  margin: 0 auto;
	ul li {
		display: inline-block;
		padding: 0 4px;
		margin: 0 4px;
		a {
      background: $nav-btn-bg;
			color: $nav-btn-txt;
			text-decoration: none;
			font-weight: bolder;
			letter-spacing: .5px;
      font-size: 16px;
			font-family: 'AaarghNormal';
			&:hover {
				color: $nav-btn-hov;
			} /***** nav ul li a &:hover */
		} /******** nav ul li a         */
	} /********* nav ul li           */
} /*********** nav                 */

.hidden {
  visibility: hidden;
}




/*-------------------------------------------------------------------------*/
/*--------------------------------Home Page--------------------------------*/
/*-------------------------------------------------------------------------*/

.title {
  color: $title-text;
  text-align: center;
  width: 100%;
}

.comic {
	margin: 0 auto;
	max-width: 480px;
	max-height: 480px;
	img {
		width: 100%;
	}
}

.comicnav {
	text-align: center;
  max-width: 480px;
  margin: 0 auto;
  margin-top: 8px;
	ul li {
		 display: inline-block;
    a {
      background: $com-nav-bg;
      color: $com-nav-txt;
      text-decoration: none;
      font-size: 36px;
      &:hover {
        color: $com-nav-hov;
      }
    }
	}
}


