/*---------------------------------Colors---------------------------------
Black      :   #2E2C26
Light Cream:   #FFFCE2
Dark Cream :   #F2EAD5
Yellow     :   #E8E6A5
Dark Swamp :   #616353
*/


@font-face {
    font-family: 'SFCartoonistHandRegular';
    src: url('SF_Cartoonist_Hand-webfont.eot');
    src: url('SF_Cartoonist_Hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Cartoonist_Hand-webfont.woff') format('woff'),
         url('SF_Cartoonist_Hand-webfont.ttf') format('truetype'),
         url('SF_Cartoonist_Hand-webfont.svg#SFCartoonistHandRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

br {
	line-height: 24px;
}

html{
	background: #F2EAD5;
}

h1 { 
	font-family: 'SFCartoonistHandRegular';
	// font-family: 'Sacramento', cursive;
  font-size: 48px; 
  line-height: 72px;
  padding-top: 8px;
  padding-left: 32px;
  margin-bottom: 16px; 
}

p {
	font-size: 16px;	
	line-height: 24px;
	color: #2E2C26;
	// font-family: 'Istok Web', sans-serif;
// font-family: 'Radley', serif;
// font-family: 'Carme', sans-serif;
font-family: 'Tenor Sans', sans-serif;
}

a{
	font-size: 16px;
	line-height: 24px;
}

ul {
		margin-bottom: 16px; 
}

.container {
	border-radius: .5em;
	background: #FFFCE2;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 24px;
	width: 940px;
}

/*-------------------------------Comic Panel------------------------------*/
.comic {
	border: 1px solid black;
	margin: 0 auto;
	max-width: 460px;
	max-height: 460px;
	img {
		width: 100%;
		padding-top: 4px;
	}
}

/*-----------------------------Comic Navigation---------------------------*/
.comicnav {
	text-align: center;
	ul li {
		display: inline-block;
	}
}

/*------------------------------Site Navigation---------------------------*/
nav {
	border-radius: .5em;
	background: #FFFCE2;
	width: 940px;
	text-align: center;
	margin: 0 auto;
	ul li {
		display: inline-block;
		padding: 0 4px;
		margin: 0 4px;
		a {
			color: #616353;
			text-decoration: none;
			font-weight: bold;
			letter-spacing: .5px;
			font-family: 'Cinzel', serif;
			// font-family: 'Istok Web', sans-serif;
			// font-family: 'Carme', sans-serif;
			// font-family: 'Tinos', serif;
			// font-family: 'Playfair Display', serif;
			&:hover {
				color: #F2A675;
			}
		}
	}
}

/*-------------------------------About Text-------------------------------*/
article {
	margin: 0 auto;
	max-width: 460px;
	padding-bottom: 24px;
}