/*-------------------------------------------------------------------------*/
/*----------------------------------Colors---------------------------------*/
/*-------------------------------------------------------------------------*/
$black: 		  #2E2C26;
$html-back:   black;
$container:   white;
$yellow:      #E8E6A5;
$dark_swamp:  #616353;
$red: 				#f8B1BE;
$button-back: white;
$button-text: #616353;


/*-------------------------------------------------------------------------*/
/*----------------------------------Global---------------------------------*/
/*-------------------------------------------------------------------------*/
@font-face {
    font-family: 'SFCartoonistHandRegular';
    src: url('SF_Cartoonist_Hand-webfont.eot');
    src: url('SF_Cartoonist_Hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Cartoonist_Hand-webfont.woff') format('woff'),
         url('SF_Cartoonist_Hand-webfont.ttf') format('truetype'),
         url('SF_Cartoonist_Hand-webfont.svg#SFCartoonistHandRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	padding: 0;
	margin:  0;
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing:    border-box; /* Firefox, other Gecko */
	box-sizing:        border-box; /* Opera/IE 8+ */
}

br {
	line-height: 24px;
}

html {
	background: $html-back;
}

h1 { 
	font-family: 'SFCartoonistHandRegular';
<<<<<<< HEAD
	line-height:   72px;
	font-size:     48px; 
  padding-top:    8px;
  padding-left:  32px;
  margin-bottom: 16px; 
=======
	// font-family: 'Sacramento', cursive;
  font-size: 48px; 
  line-height: 72px;
  padding-top: 8px;
  padding-left: 32px;
 
>>>>>>> e18a52b09099ffe801c4d6995e7fcc47f0e2585d
}

h2 {
	font-family: 'Tenor Sans', sans-serif;
}

p, a {
	line-height: 24px;
	font-size:   16px;	
	color:       $dark_swamp;
	font-family: 'Tenor Sans', sans-serif;
}

.button {
	padding: 5px;
	margin: 0 auto;
	width: 5em;
	text-align: center;
	background-color: $button-back;
	border-radius: 5px;
	color: $button-text;
	a{
		text-decoration: none;
		color: $button-text;
		text-align: center;
	}
	&.admin{
		margin-left: 8px;
	}
}


<<<<<<< HEAD

/*-------------------------------------------------------------------------*/
/*---------------------------------Layout----------------------------------*/
/*-------------------------------------------------------------------------*/
.container {
=======
.big-container {
>>>>>>> e18a52b09099ffe801c4d6995e7fcc47f0e2585d
	border-radius: .5em;
	background: $container;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 16px;
	max-width: 940px;
}

.content {
	border-radius: .5em;
	background: $container;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 16px;
<<<<<<< HEAD
	max-width: 900px;
	padding: 24px 0 24px 0;
=======
	max-width: 940px;
	padding: 16px 0 24px 0;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
>>>>>>> e18a52b09099ffe801c4d6995e7fcc47f0e2585d
}
  
nav {
	border-radius: .5em;
	width: 480px;
  margin: 0 auto;
	text-align: center;
	ul li {
		display: inline-block;
		padding: 0 4px;
		margin: 0 4px;
		a {
			color: #616353;
			text-decoration: none;
			font-weight: bold;
			letter-spacing: .5px;
			font-family: 'Cinzel', serif;
			&:hover {
				color: #F2A675;
			} /***** nav ul li a &:hover */
		} /******** nav ul li a         */
	} /********* nav ul li           */
} /*********** nav                 */



/*-------------------------------------------------------------------------*/
/*--------------------------------Home Page--------------------------------*/
/*-------------------------------------------------------------------------*/
.comic {
	margin: 0 auto;
	max-width: 480px;
	max-height: 480px;
	img {
		width: 100%;
	}
}

.comicnav {
	padding-top: 16px;
	text-align: center;
	ul li {
		padding: 0 0.5em 0 0.5em;
		display: inline-block;
	}
}

<<<<<<< HEAD
=======
/*------------------------------Site Navigation---------------------------*/
nav {
	border-radius: .5em;
	background: $container;
		border: 1px solid black;
	width: 480px;
		margin: 0 auto;
	text-align: center;
>>>>>>> e18a52b09099ffe801c4d6995e7fcc47f0e2585d


/*-------------------------------------------------------------------------*/
/*-------------------------------Archive Page------------------------------*/
/*-------------------------------------------------------------------------*/
.archive-gallery {
	max-width: 860px;
  margin: 0px auto;
  padding-left: 60px;
  overflow: hidden;
}

.galleryItem {
  color: #797478;
  font: 10px/1.5 Verdana, Helvetica, sans-serif;
  float: left;
  padding: 0 10px 0 10px;    
  width: 160px;
  margin: 0 10px 0 10px;
}
 
.galleryItem h3 {
  text-transform: uppercase;
}
 
.galleryItem img {
	max-width: 100%;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
  border-radius: 5px;
	float: left;
}



/*-------------------------------------------------------------------------*/
/*--------------------------------About Page-------------------------------*/
/*-------------------------------------------------------------------------*/
.about-body {
	margin: 0 auto;
	max-width: 460px;
}

#portrait {
	max-width: 150px;
	float: left;
}



/*-------------------------------------------------------------------------*/
/*--------------------------------Admin Page-------------------------------*/
/*-------------------------------------------------------------------------*/
table.gridtable {
	font-family: 'Tenor Sans', sans-serif;
  text-align: center;
	width: 100%;
	th {
		&:first-child{
			max-width: 160px;
			padding: 0;
		}
	}
	thumb a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid black;
	}
}

<<<<<<< HEAD
.add_comic {
	width: 6em;
	border: 1px solid black;
}
=======
>>>>>>> e18a52b09099ffe801c4d6995e7fcc47f0e2585d

.index_head a {
	text-decoration: none;
	color: $button-text;
}

.edit-preview {
	text-align: center;
}

<<<<<<< HEAD
.form {
	font-family: 'Tenor Sans', sans-serif;
=======
.button {
	padding: 5px;
	margin: 0 auto;
	width: 5.5em;
>>>>>>> e18a52b09099ffe801c4d6995e7fcc47f0e2585d
	text-align: center;
	ul{
		display: inline-block;
		padding: 8px;
		list-style: none;
	}
}

#error_explanation {
	background: $red;
	margin: 0 auto;
	max-width: 580px;
	font-family: 'Tenor Sans', sans-serif;
	ul {
		list-style: none;
	}
}

<<<<<<< HEAD
.field_with_errors {
  padding: 5px;
  background-color: $red;
}
=======
tr.index-row {
	border-bottom: 1px solid black;
}

img.portrait {
	max-width: 200px;
	float: left;
}
>>>>>>> e18a52b09099ffe801c4d6995e7fcc47f0e2585d
