@import 'variables';

/*-----------------------------------------------------------------------------------*/
/*------------------------------------- Desktop -------------------------------------*/
/*-----------------------------------------------------------------------------------*/

// @media only screen and (min-width: 631px) and (max-width: 810px ) {
@media only screen and (min-width: 631px)  {
	h1 a {
		color: red !important;
	}
	
	body {
		width:     90%;
		margin:    0 auto;
		min-width: 1024px;
		max-width: 1280px;
	}


	.mobile-comicnav {
		display: none;
	}


}










/*-----------------------------------------------------------------------------------*/
/*------------------------------------- Tablet --------------------------------------*/
/*-----------------------------------------------------------------------------------*/

@media only screen and (min-width: 431px) and (max-width: 630px ) {
	h1 a {
		color: green !important;
	}
}











/*-----------------------------------------------------------------------------------*/
/*------------------------------------- Phone ---------------------------------------*/
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 430px ) {

	.comicnav {
		display: none;
	}

	.icon {
	  font-size:   $com-nav-icon-size*2;
  }

	.arrow {
	  font-size:   $com-nav-icon-size*3;
	}
}
























