@import 'variables';

@media screen and (min-width: 25.564em) {
  .mobile-nav {
   overflow: hidden;
   display: none;
  }
  .social-slide {
    display: none;
  }
  #swipey {
    display: none;
  }
  .mobile-comicnav {
    display: none;
  }
}





@media screen and (max-width: 26.563em /*425px*/ ) {
  h1 {
    font-size:  $base-font-size * 1.35;
  }
  .desktop-nav, .nav-footer, .comicnav { 
    display:    none;
  }
  .main-container {
    margin:     0;
    overflow:   hidden;
    width:      100%;
  }
  .content-container {
    width:      100%;
  }
  .content {
    margin:      0;
    overflow: hidden;
    padding-top: 2.5em;
    width:       99% ;
  }
  .comic {
    img {
      width:    100%;
    }
  }
  .archive-container {
    min-height: 36em;
    position:   relative;
    overflow:   auto;
    top:        3em;
  }
  .archive-list  {
    font-size:    1.3em;
    line-height:  $baseline*2;
    margin:       0 auto;
    padding-left: 1em;
    top:          3em;
  }
} /*------- max-width: 425px -------*/





@media screen and (max-width: 365px ) {
	.container {
		height: 685px;
	} 
}





@media screen and (max-width: 335px ) {
	.container {
		height: 655px;
	} 
}






@media screen and (max-width: 327px ) {
	.container {
		height: 640px;
	}
  .arrow {
	  font-size:   $com-nav-icon-size*3;
  } 
	.social-slide a.icon {
	 	font-size:   $com-nav-icon-size*1.40;
  } 

}














