@import 'variables';


/*-----------------------------------------------------------------------------------*/
/*------------------------------------- Phone ---------------------------------------*/
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 425px ) {

	h1 {
    color: black;
    font-size: $base-font-size*1.25;
    line-height: $base-font-size*1.5;
    font-family: $title-text-font;
    margin: 0;
  }

	.container {
    height: 745px;
    padding: 0 .5% 0 .5%;
    position: relative;
    overflow: hidden;
  }

	.content {
    overflow: hidden;
    margin: 4em 0.2em 0em 0.2em;
    width: 100%;
    z-index: 10;
    height: 100%;
  }

  .comic {
    max-height: 424px;
    max-width:  424px;
    img {
      width:    100%;
    }
  }
	
	.comicnav {
		display: none;
	}

	.mobile-comicnav {
		position: relative;
		top: -20px;

	}

	.icon {
	  font-size:   $com-nav-icon-size*2;
  }

	.arrow {
	  font-size:   $com-nav-icon-size*3;
	}

	a.spacer1 {
 		display: none;
	 }

	a.spacer2 {
 		display: none;
	 }

  .desktop-nav { 
    overflow: hidden;
    display: none;
  }
	
	.social-slide {

	}

  .slide-container {
  	bottom:     4%;
  	display:    block;
  	height:     2em;
  	margin-top: 5%;
  	position:   absolute;
  	width:      100%;
  }
}


.silver-box { 
	background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
              inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
              inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
              inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
                    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
              			hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 

	
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;

	width: 99%;
  z-index:  50;
}



@media screen and (max-width: 395px ) {
	.container {
		height: 715px;
	} 
}

@media screen and (max-width: 365px ) {
	.container {
		height: 685px;
	} 
}

@media screen and (max-width: 335px ) {
	.container {
		height: 655px;
	} 
}

@media screen and (max-width: 327px ) {
	.container {
		height: 640px;
	}

  .arrow {
	  font-size:   $com-nav-icon-size*3;
  } 

	.social-slide a.icon {
	 		font-size:   $com-nav-icon-size*1.40;
  } 

}














