/************************************************************************/
/* _1   TYPOGRAPHY                                                      */
/************************************************************************/
/************************************************************************/
/* _2   COLORS                                                          */
/************************************************************************/
/* #000000;  /******Black******/
/* #FFFFFF;  /******White******/
/* #FFBF2A;  /*****Yellow******/
/* #403D3D;  /****Dark Grey****/
/* #7F797B;  /****Light Grey***/
/******Black******/
/******Black******/
/******White******/
/******Black******/
/****Light Grey***/
/******White******/
/******Black******/
/****Dark Grey****/
/****Light Grey***/
/****Light Grey***/
/****Dark Grey****/
/******Black******/
/******Black******/
/*****Yellow******/
/****Light Grey***/
/****Dark Grey****/
/*****Yellow******/
/******Black******/
/******Black******/
/************************************************************************/
/* _3   COLORS                                                          */
/************************************************************************/
/************************************************************************/
/* _4   MIX-INS                                                         */
/************************************************************************/
/************************************************************************/
/* 1-1   COMIC TITLE                                                    */
/************************************************************************/
.title {
  color: #7f797b;
  font-family: "AaarghNormal";
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

/************************************************************************/
/* 1-2   THE COMIC                                                      */
/************************************************************************/
.comic {
  max-height: 480px;
  max-width: 480px; }
  .comic img {
    border-radius: 1em;
    width: 100%; }

/************************************************************************/
/* 1-3   COMIC NAVIGATION                                               */
/************************************************************************/
/*------------------- 1-3-1   Comiv Nav Container                       */
.comicnav, .mobile-comicnav {
  max-width: 480px;
  text-align: center; }
  .comicnav ul li, .mobile-comicnav ul li {
    display: inline-block; }

/*------------------- 1-3-2   Comic Nav Icons - General Styles          */
.icon {
  background: transparent;
  color: #403d3d;
  font-size: 63px;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }
  .icon:hover {
    color: #7f797b; }

/*------------------- 1-3-3   Comic Nav Icons - Feed Icon               */
.icon-rss:hover {
  color: #ffbf2a; }

/*------------------- 1-3-4   Comic Nav Icons - Prev/Next Icon          */
.arrow {
  background: transparent;
  color: #ffbf2a;
  font-size: 66.6px;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }
  .arrow:hover {
    color: #7f797b; }

/*------------------- 1-3-5   Comic Nav Icons - Share Icon              */
.social {
  position: relative;
  left: -.1em; }
  .social a {
    background: transparent;
    display: inline;
    left: 3px;
    position: absolute;
    opacity: 0;
    top: 0;
    -webkit-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 0.5s linear;
    -moz-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 0.5s linear;
    -o-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 0.5s linear;
    transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 0.5s linear; }
  .social:hover .smedia {
    opacity: 1;
    margin-top: 2px;
    font-size: 57.6px;
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0); }
    .social:hover .smedia.icon-facebook-circled {
      left: 1.13em; }
    .social:hover .smedia.icon-twitter-circled {
      left: 2.27em; }
    .social:hover .smedia.icon-gplus-circled {
      left: 3.41em; }
    .social:hover .smedia.icon-tumblr-circled {
      left: 4.55em; }
    .social:hover .smedia.icon-mail {
      left: 5.69em; }

/*------------------- 1-3-6   Comic Over - For swipe navigation         */
#swipey {
  background: transparent;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 90px;
  width: 100%; }

/************************************************************************/
/* 1-4   SOCIAL SLIDE (Only visible on mobile)                          */
/************************************************************************/
/*------------------- 1-4-1   Social Slide Container                    */
.social-slide-container {
  bottom: 4%;
  display: block;
  height: 2em;
  margin-top: 5%;
  position: absolute;
  width: 100%; }

/*------------------- 1-4-2   Social Slide                              */
.social-slide {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  bottom: 0;
  padding-bottom: 2em;
  position: relative;
  /*- .social-slide a -*/ }
  .social-slide:before {
    z-index: 1; }
  .social-slide a {
    display: inline-block;
    margin: 0 0 10px 0; }
    .social-slide a.icon {
      font-size: 54px; }
    .social-slide a:first-child {
      position: relative;
      left: .10em;
      font-size: 48px;
      letter-spacing: .25em;
      text-decoration: none;
      text-align: center;
      width: 100%; }
    .social-slide a:nth-child(2) {
      display: block;
      width: 100%;
      height: 12px; }

/*- .social-slide -*/
/*------------------- 1-4-3   ToggleClass with JS to reveal slide       */
.show-social {
  bottom: 9em !important; }

/*------------------- 1-4-4   Hide the slide on all other pages         */
body.archive_controller .social-slide {
  display: none; }
body.about_controller .social-slide {
  display: none; }
body.index_controller .social-slide {
  display: none; }
