/************************************************************************/
/* _1   TYPOGRAPHY                                                      */
/************************************************************************/
/************************************************************************/
/* _2   COLORS                                                          */
/************************************************************************/
/*-------------------  _2-1   Layout Colors                             */
/*-------------------  _2-2   Home Colors                               */
/*-------------------  _2-3   Archive Colors                            */
/*-------------------  _2-4   About Colors                              */
/*-------------------  _2-5   Comic Index Colors                        */
/************************************************************************/
/* _3   RESPONSIVE BREAKPOINTS                                          */
/************************************************************************/
/************************************************************************/
/* _4   MIX-INS                                                         */
/************************************************************************/
/************************************************************************/
/* 2-1   ARCHIVE CONTAINER                                                           */
/************************************************************************/
.archive-container {
  position: relative;
  top: 12em; }
  .archive-container a {
    color: #403d3d; }
    .archive-container a:hover {
      color: #7f797b; }
    .archive-container a:visited {
      color: #f26f17; }
