/************************************************************************/
/* _1   TYPOGRAPHY                                                      */
/************************************************************************/
/************************************************************************/
/* _2   COLORS                                                          */
/************************************************************************/
/* #000000;  /******Black******/
/* #FFFFFF;  /******White******/
/* #FFBF2A;  /*****Yellow******/
/* #403D3D;  /****Dark Grey****/
/* #7F797B;  /****Light Grey***/
/******Black******/
/******Black******/
/******White******/
/******Black******/
/****Light Grey***/
/******White******/
/******Black******/
/****Dark Grey****/
/****Light Grey***/
/****Light Grey***/
/****Dark Grey****/
/******Black******/
/******Black******/
/*****Yellow******/
/****Light Grey***/
/****Dark Grey****/
/*****Yellow******/
/******Black******/
/******Black******/
/************************************************************************/
/* _3   COLORS                                                          */
/************************************************************************/
/************************************************************************/
/* _4   MIX-INS                                                         */
/************************************************************************/
/************************************************************************/
/* 2-1   THUMBNAIL GALLERY                                              */
/************************************************************************/
#gallery {
  /* Thumbnail gallery and scrollbar */
  clear: both; }
  #gallery .viewport {
    height: 600px;
    margin: 0 auto;
    max-width: 880px;
    overflow: hidden;
    position: relative; }
    #gallery .viewport .overview {
      max-width: 860px;
      position: absolute;
      top: 0; }
  #gallery .scrollbar {
    float: right;
    position: relative;
    width: 16px; }
    #gallery .scrollbar .track {
      height: 100%;
      position: relative;
      width: 16px; }
      #gallery .scrollbar .track .thumb {
        background: #403d3d;
        border-radius: 8px;
        height: 20px;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 16px; }
        #gallery .scrollbar .track .thumb .end {
          height: 5px;
          overflow: hidden;
          width: 13px; }

.noSelect {
  /* Prevents elements from being selected when scrollbar is grabbed and dragged. */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

/************************************************************************/
/* 2-2   THUMBNAILS                                                     */
/************************************************************************/
.galleryItem {
  /* Each individual comic thumbnail */
  float: left;
  margin: 0px 10px 48px 10px;
  max-height: 216px;
  max-width: 168px;
  text-align: center; }
  .galleryItem a img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    max-width: 160px; }
    .galleryItem a img:hover {
      -webkit-transform: scale(1.75) rotate(0.1deg);
      -ms-transform: scale(1.75) rotate(0.1deg);
      transform: scale(1.75) rotate(0.1deg);
      -webkit-transition: -webkit-transform ease 0.75s;
      -ms-transition: transform ease 0.75s;
      transition: transform ease 0.75s; }
