/************************************************************************/
/* _1   TYPOGRAPHY                                                      */
/************************************************************************/
/************************************************************************/
/* _2   COLORS                                                          */
/************************************************************************/
/*-------------------  _2-1   Layout Colors                             */
/*-------------------  _2-2   Home Colors                               */
/*-------------------  _2-3   Archive Colors                            */
/*-------------------  _2-4   About Colors                              */
/*-------------------  _2-5   Comic Index Colors                        */
/************************************************************************/
/* _3   RESPONSIVE BREAKPOINTS                                          */
/************************************************************************/
/************************************************************************/
/* _4   MIX-INS                                                         */
/************************************************************************/
/************************************************************************/
/* 3-1   ABOUT CONTAINER                                                           */
/************************************************************************/
.about-container {
  max-width: 95%;
  position: relative;
  top: 5em; }

/************************************************************************/
/* 3-2   PORTRAIT                                                       */
/************************************************************************/
.portrait {
  float: left;
  margin-right: 24px;
  max-width: 150px; }

/************************************************************************/
/* 3-3   ABOUT TEXT                                                       */
/************************************************************************/
p {
  color: #403D3D;
  /****Dark Grey****/
  font-family: #403d3d;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 24px; }
