/************************************************************************/
/* 1. TYPOGRAPHY */
/************************************************************************/
/************************************************************************/
/* 2. COLORS */
/************************************************************************/
/* #000000;  /******Black******/
/* #FFFFFF;  /******White******/
/* #FFBF2A;  /*****Yellow******/
/* #403D3D;  /****Dark Grey****/
/* #7F797B;  /****Light Grey***/
/******Black******/
/******Black******/
/******White******/
/******Black******/
/****Light Grey***/
/******White******/
/******Black******/
/****Dark Grey****/
/****Light Grey***/
/****Light Grey***/
/****Dark Grey****/
/******Black******/
/******Black******/
/*****Yellow******/
/****Dark Grey****/
/****Dark Grey****/
/*****Yellow******/
/******Black******/
/******Black******/
/************************************************************************/
/* 3. MIX-INs */
/************************************************************************/
/************************************************************************/
/* 1. PORTRAIT */
/************************************************************************/
#portrait {
  max-width: 150px;
  float: left;
  margin-right: 24px; }

/************************************************************************/
/* 2. BODY */
/************************************************************************/
.about-body {
  max-width: 460px;
  margin: 0 auto; }
  .about-body p {
    letter-spacing: 2px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    /******White******/
    font-family: "AaarghNormal"; }
