/************************************************************************/
/* 1. TYPOGRAPHY */
/************************************************************************/
/************************************************************************/
/* 2. COLORS */
/************************************************************************/
/* #000000;  /******Black******/
/* #FFFFFF;  /******White******/
/* #FFBF2A;  /*****Yellow******/
/* #403D3D;  /****Dark Grey****/
/* #7F797B;  /****Light Grey***/
/******Black******/
/******Black******/
/******White******/
/******Black******/
/****Light Grey***/
/******White******/
/******Black******/
/****Dark Grey****/
/****Light Grey***/
/****Light Grey***/
/****Dark Grey****/
/******Black******/
/******Black******/
/*****Yellow******/
/****Dark Grey****/
/****Dark Grey****/
/*****Yellow******/
/******Black******/
/******Black******/
/************************************************************************/
/* 3. MIX-INs */
/************************************************************************/
/************************************************************************/
/* 1. COMIC TITLE */
/************************************************************************/
.title {
  font-family: "AaarghNormal";
  color: #7f797b;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  width: 100%; }

/************************************************************************/
/* 2. THE COMIC */
/************************************************************************/
.comic {
  max-width: 480px;
  max-height: 480px; }
  .comic img {
    width: 100%; }

/************************************************************************/
/* 3. COMIC NAVIGATION */
/************************************************************************/
.comicnav {
  max-width: 480px;
  text-align: center; }
  .comicnav ul li {
    display: inline-block; }

.icon {
  background: transparent;
  color: #403d3d;
  font-size: 36px;
  line-height: 54px;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }
  .icon:hover {
    color: #7f797b; }

.social {
  position: relative; }
  .social a {
    background: transparent;
    display: inline-block;
    position: absolute;
    opacity: 0;
    top: 0;
    -webkit-transition: left 0.75s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 0.5s linear;
    -moz-transition: left 0.75s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 0.5s linear;
    -o-transition: left 0.75s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 0.5s linear; }

.social:hover .smedia {
  opacity: 1;
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0); }
  .social:hover .smedia.icon-facebook-circled {
    left: 50px; }
  .social:hover .smedia.icon-twitter-circled {
    left: 95px; }
  .social:hover .smedia.icon-gplus-circled {
    left: 140px; }
  .social:hover .smedia.icon-tumblr-circled {
    left: 185px; }
  .social:hover .smedia.icon-mail {
    left: 230px; }
