@charset "UTF-8";
/************************************************************************/
/* 1. TYPOGRAPHY */
/************************************************************************/
/************************************************************************/
/* 2. COLORS */
/************************************************************************/
/* #000000;  /******Black******/
/* #FFFFFF;  /******White******/
/* #FFBF2A;  /*****Yellow******/
/* #403D3D;  /****Dark Grey****/
/* #7F797B;  /****Light Grey***/
/******Black******/
/******Black******/
/******White******/
/******Black******/
/****Light Grey***/
/******White******/
/******Black******/
/****Dark Grey****/
/****Light Grey***/
/****Light Grey***/
/****Dark Grey****/
/******Black******/
/******Black******/
/*****Yellow******/
/****Dark Grey****/
/****Dark Grey****/
/*****Yellow******/
/******Black******/
/******Black******/
/************************************************************************/
/* 3. MIX-INs */
/************************************************************************/
/************************************************************************/
/* 1. CSS RESET */
/************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none; }

ul, ol, li {
  list-style: none; }

/************************************************************************/
/* 2. TYPOGRAPHY AND GENERAL STYLING */
/************************************************************************/
html {
  background: black; }

body {
  color: white;
  font: 300 16px/24px "AaarghNormal"; }

p {
  line-height: 24px;
  font-size: 16px;
  color: white;
  font-family: "AaarghNormal"; }

a {
  text-decoration: none; }

h1 {
  color: white;
  font: 36px/54px "BloklettersViltstift";
  margin-left: 32px;
  margin-top: 24px; }
  h1 a {
    color: white;
    text-decoration: none; }

h2 {
  font: 16px/24px "AaarghNormal";
  font-weight: bolder; }

h3 {
  font: 16px/24px "AaarghNormal";
  color: #7f797b;
  margin-left: 3px;
  text-transform: uppercase;
  text-align: left; }

h4 {
  font: 16px/24px "AaarghNormal";
  color: #403d3d;
  font-weight: 1600;
  text-align: left; }

/************************************************************************/
/* 3. LAYOUT */
/************************************************************************/
.container {
  background: black;
  max-width: 940px; }

.container, .content, .comic, .comicnav, .nav {
  margin: 0 auto; }

.content {
  max-width: 900px;
  background-color: black;
  height: 600px;
  margin: 24px; }

.hidden {
  visibility: hidden; }

.disable {
  display: none; }

/************************************************************************/
/* 4. MAIN NAVIGATION */
/************************************************************************/
nav {
  background: transparent; }
  nav ul li {
    display: inline-block;
    padding: 0 6px 0 12px; }
    nav ul li a {
      color: #ffbf2a;
      font: 24px;
      text-decoration: none;
      letter-spacing: .5px;
      -webkit-transition: color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out; }
      nav ul li a:hover {
        color: #403d3d; }

/*------- Change color of the nav link of the current page -------*/
body.home_controller nav a#home-link {
  color: #7f797b; }
body.archive_controller nav a#archive-link {
  color: #7f797b; }
body.about_controller nav a#about-link {
  color: #7f797b; }
body.index_controller nav a#index-link {
  color: #7f797b; }

/************************************************************************/
/* 4. FLASH NOTICES */
/************************************************************************/
.alert.alert-error {
  color: red; }
.alert.alert-success {
  color: green; }
.alert.alert-notice {
  color: lightblue; }

.button {
  background: -webkit-linear-gradient(top, #ffbf2a, #aa7700);
  background: -moz-linear-gradient(top, #ffbf2a, #aa7700);
  background: -ms-linear-gradient(top, #ffbf2a, #aa7700);
  background: -o-linear-gradient(top, #ffbf2a, #aa7700);
  border: 1px solid #7f797b;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: "Bree Serif", serif;
  font-size: 20px;
  font-weight: 300;
  padding: 11px 25px;
  text-shadow: 0px 1px 0 rgba(2, 2, 2, 0.25);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
  .button:hover, .button:focus {
    background: #aa7700;
    border: 1px solid #7f797b;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }
