/************************************************************************/
/* _1   TYPOGRAPHY                                                      */
/************************************************************************/
/************************************************************************/
/* _2   COLORS                                                          */
/************************************************************************/
/* #000000;  /******Black******/
/* #FFFFFF;  /******White******/
/* #FFBF2A;  /*****Yellow******/
/* #403D3D;  /****Dark Grey****/
/* #7F797B;  /****Light Grey***/
/******Black******/
/******Black******/
/******White******/
/******Black******/
/****Light Grey***/
/******White******/
/******Black******/
/****Dark Grey****/
/****Light Grey***/
/****Light Grey***/
/****Dark Grey****/
/******Black******/
/******Black******/
/*****Yellow******/
/****Light Grey***/
/****Dark Grey****/
/*****Yellow******/
/******Black******/
/******Black******/
/************************************************************************/
/* _3   COLORS                                                          */
/************************************************************************/
/************************************************************************/
/* _4   MIX-INS                                                         */
/************************************************************************/
/*-----------------------------------------------------------------------------------*/
/*------------------------------------- Desktop -------------------------------------*/
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 516px) {


  .mobile-comicnav {
    display: none; } }
/*-----------------------------------------------------------------------------------*/
/*------------------------------------- Tablet --------------------------------------*/
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 431px) and (max-width: 515px) {
  h1 a {
    color: green !important; }

  .icon {
    font-size: 54px; }

  .arrow {
    font-size: 63px; }

  .mobile-comicnav, .social, #rss {
    display: none; } }
/*-----------------------------------------------------------------------------------*/
/*------------------------------------- Phone ---------------------------------------*/
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width: 430px) {
  .comicnav {
    display: none; }

  .icon {
    font-size: 72px; }

  .arrow {
    font-size: 108px; } }
