<!--*************************************************************** -->
<!--0-3 MAIN NAVIGATION ROW - Only visible on tablets ************* -->
<!--*************************************************************** -->
<nav class="bottom-nav">
  <%= link_to 'home',        root_path,    id: "home-link"    %>
  <%= link_to 'archive',     archive_path, id: "archive-link" %>
  <%= link_to 'about',       about_path,   id: "about-link"   %>
</nav>